/.sconsign.dblite
/kbuild.*
/src/doc/doc
/Linux-*
/Darwin-*
/build
*~
*.o
/*.kdev*
*.cmake
*.txt
cmake_install.*
*.make
*.marks
*.includecache
*.internal
*.kdev4
*.bin
*.check_cache
*.out
*.log
/bin
/CMakeFiles
Makefile

/excons.cache
/dist
/release
/debug
/.build
/src/py/partio.py
/src/py/partio_wrap.cpp
/src/doc/Doxyfile
/test.*
/circle.*
/testse.gto
