[submodule "gto"]
	path = gto
	url = git://github.com/gatgui/gto
[submodule "excons"]
	path = excons
	url = git://github.com/gatgui/excons.git
[submodule "zlib"]
	path = zlib
	url = git://github.com/gatgui/zlib.git
